<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br /><br />

  <div class="field">
    <%= f.hidden_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
<% if current_user %>
	<%= f.text_field :author, :value => current_user.username %>
<% else %>
	<%= f.text_field :author %>
<% end %>
  </div>	
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :patron_request %><br />
    <%= f.text_area :patron_request %>
  </div>
  <div class="field">
    <%= f.label :consultation_summary %><br />
    <%= f.text_area :consultation_summary %>
  </div>
  <div class="field">
    <%= f.label "Web Resources used (put space between links)" %><br />
    <%= f.text_field :resources_used %>
  </div>
  <% if current_user %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id, :class => 'select_size' %>
  </div><% end %>
<br /><br/><br />
  <div class="actions" style="float:left">
    <%= f.submit %></span>
  </div>
<% end %>
<div class="cancel"><span class="test"><%= link_to 'Cancel', post_path(@comment.post_id) %></span></div>
<br /><br />
