<div id="comments" style="clear: left;">
	<table class="ccontents">
		<tr class="<%= cycle("odd", "even") -%>">
			<td>
			<div class="avatar">
<!-- if use google profile image	
				<% if comment.user.image.present? %>
					<p><%= image_tag comment.user.image, height: 84, alt: 'avatar', class: 'avatarimage' %></p>
				<% else %>
					<p><%= image_tag avatar_url(comment.user), alt: 'avatar', class: 'avatarimage' %></p>
				<% end %>
-->			
			<p><%= image_tag avatar_url(comment.user), alt: 'avatar', class: 'avatarimage' %></p>
			<p class="aname"><%= comment.author %></p>
			<p class="pdate"><%= comment.updated_at.localtime.to_s.split(' ')[0] %></p>
			</div>
			<div class="consultinfo">

		<p>
		  <b>Patron need:</b>
		  <%= comment.patron_request %>
		</p>

		<p>
		  <b>Summary of actions:</b>
		  <%= comment.consultation_summary %>
		</p>
<!-- Check if web resources exist -->		
		<% if !comment.resources_used.blank? %>
			<p>
			  <b>Web Resources:</b>
			  <%= get_links(comment.resources_used) %>
			</p>
		<% else %>	
			<p>
			  <b>Web Resources:</b>
			</p><br/><br/><br/>
		<% end %>	
		</div>
		<div class="allbuttons">
	<!-- Check if user logged in to provide thumbs up and down -->		
			<% if current_user %>		
	<!-- Check if user logged in equals user that created comment to provide delete and edit buttons -->		
				<% if current_user.username == comment.author %>
					<% if current_user && !current_user.voted_for?(comment) %> 
						<p class="thumbs">
							<span class="up"><%= link_to image_tag("thumbs_up.png"), vote_comment_path(comment, type: "up"), :method => :post, :remote => true %></span> 
							<span class="down"><%= link_to image_tag("thumbs_down.png"), vote_comment_path(comment, type: "down"), :method => :post, :remote => true %></span>
						<br/>
						<span id="<%=comment.id%>">Reputation = <%= comment.reputation_for(:votes).to_i %></span>
						</p>
					<% end %>
					<p class="sbutton" id="edbuttons"><%= link_to 'Edit', edit_comment_path(comment.id) %></p>
					<p class="sbutton" id="edbuttons"><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
					<br/>
			  	<% else %>
					<p class="thumbs">
			 			<% if current_user && !current_user.voted_for?(comment) %> 
							<span class="up"><%= link_to image_tag("thumbs_up.png"), vote_comment_path(comment, type: "up"), :method => :post, :remote => true %></span> 
							<span class="down"><%= link_to image_tag("thumbs_down.png"), vote_comment_path(comment, type: "down"), :method => :post, :remote => true %></span>
							<br/>
							<span id="<%=comment.id%>">Reputation = <%= comment.reputation_for(:votes).to_i %></span>
						<% end %>
				  	</p>
			  	<% end %>	
		   <% else %>
			<br/>
				<span id="<%=comment.id%>" class="reputation">Reputation = <%= comment.reputation_for(:votes).to_i %></span>
		<% end %>
	</div>
	</td>
	</tr>
	</table>
</div>