<div class="comments">
	<p>
	  <b>Title:</b>
	  <%= comment.title %>
	</p>
	
	<p>
	  <b>Author:</b>
	  <%= comment.author %>
	</p>

	<p>
	  <b>Date:</b>
	  <%= comment.updated_at.localtime.to_s.sub('-0500', '') %>
	</p>

	<p>
	  <b>Patron request:</b>
	  <%= comment.patron_request %>
	</p>

	<p>
	  <b>Consultation summary:</b>
	  <%= comment.consultation_summary %>
	</p>

	<p>
	  <b>Resources used:</b>
	  <%= get_links(comment.resources_used) %>
	</p>

	<p>
	  <b>Status:</b>
	  <%= comment.status %>
	</p>
	<p>
		<% if current_user %>		
			<% if current_user.username == comment.author %>
			<br />
				<span class="test" id="comment_edit"><%= link_to 'Edit', edit_comment_path(comment.id) %></span>
			</p>
			<br /><br />
			<% end %>
		<p class="recommend">
		 <% if current_user && !current_user.voted_for?(comment) %> <span class="up"><%= link_to image_tag("thumbs_up.png"), vote_comment_path(comment, type: "up"), :method => :post, :remote => true %></span> <span class="down"><%= link_to image_tag("thumbs_down.png"), vote_comment_path(comment, type: "down"), :method => :post, :remote => true %></span><% end %><br><span id="<%=comment.id%>">Reputation = <%= comment.reputation_for(:votes).to_i %></span>
		</p><br><br>
<% end %>
</div>