<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
	<%= f.text_field :author, :value => current_user.username %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :patron_request %><br />
    <%= f.text_area :patron_request %>
  </div>
  <div class="field">
    <%= f.label :consultation_summary %><br />
    <%= f.text_area :consultation_summary %>
  </div>
  <div class="field">
    <%= f.label "Web Resources used (put space between links)" %><br />
    <%= f.text_field :resources_used, :size => 250 %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, ['open','closed'], :include_blank => true, :class => 'select_size' %>
  </div>
<% if current_user %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div><% end %><br /> <br /><br />
  <div class="actions" style="float:left">
    <%= f.submit %></span>
  </div>
<% end %>
<div class="cancel"><span class="test"><%= link_to 'Cancel', @post %></span></div>
<br /><br />
