<p id="notice"><%= notice %></p>
<% if current_user %>
  Logged in as <%= current_user.username %>.
  <%= link_to "Log out", logout_path, :class => "logout" %>
<% else %>
  Not logged in.
  <%= link_to " Log in", login_path %>.
<% end %>
<div class="home_nav"><span class="test"><%= link_to 'Home', posts_path %></span></div>
<h3><%= @post.title %></h3>
<div class="posts">
	<p>
	  <b>Title:</b>
	  <%= @post.title %>
	</p>

	<p>
	  <b>Date:</b>
	  <%= @post.date %>
	</p>

	<p>
	  <b>Patron request:</b>
	  <%= @post.patron_request %>
	</p>

	<p>
	  <b>Consultation summary:</b>
	  <%= @post.consultation_summary %>
	</p>

	<p>
	  <b>Resources used:</b>
	  <%= get_links(@post.resources_used) %>
	</p>

	<p>
	  <b>Status:</b>
	  <%= @post.status %>
	</p>
	<br />
	<% if @post.comments.count > 0 %>
	<hr />
	<p class="show_hide"><%= link_to_function "Show/Hide Thread", "$('#comments_thread').toggle()" %></p>
<% end %>	
</div>
<div id="comments_thread" style="display:none">
<%= render partial: 'comment', collection: @post.comments %>
</div>
<br />
<span class="test"><%= link_to_function "Post a New Comment", "$('#post_comment').toggle()"%></span>
<br />
<div id="post_comment" style="display:none">
	<%= render partial: 'comments/form' %>
</div>
<br />