<!-- Check if user logged to change head banner links and text -->
		<% if current_user %>		
			<p>Logged in as <%= current_user.username %> <span id="user_rep">(<%= current_user.reputation_for(:votes).to_i %>)</span>. <%= link_to "Log out", logout_path, :class => "logout" %> 
		<% else %> 
			Not logged in. <%= link_to " Log in", login_path %>.</p>
		<% end %>	
		<div class="home_nav">
			<span class="sbutton"><%= link_to 'Home', posts_path %></span>
		</div>
		<br/>
		<h3 class="thread_title"><%= @post.title %></h3>
		<div class="respondbs">
			<span class="sbutton" style="display:inline"><%= link_to_function "Reply", "$('#post_comment').toggle()"%>
			</span>
		</div>		
		<div id="post_comment" style="display:none">
				<%= render partial: 'comments/form' %>
		</div>
		<br />
		<div id="posts">
			<div class="avatar">
				<p><%= image_tag avatar_url(@post.user), alt: 'avatar', class: 'avatarimage' %></p>	
			 <p class="aname"><%= @post.author %></p>
			</div>
			<div class="pconsultinfo">
				<p>	
					<b>Date:</b> <%= @post.updated_at.localtime.to_s.sub(/\-\d\d\d\d/, '') %>
				</p>
				<p>
					<b>Patron request:</b> <%= @post.patron_request %>
				</p>
				<p>
					<b>Consultation summary:</b> <%= @post.consultation_summary %>
				</p>
<!-- Check if web resources exist -->		
			<% if !@post.resources_used.blank? %>
				<p>
				  <b>Web Resources used:</b>
				  <%= get_links(@post.resources_used) %>
				</p>
			<% else %>	
				<p>
				  <b>Web Resources used:</b>
				</p><br/><br/><br/>
			<% end %>
			</div>
			<div class="allbuttons">
				<!-- Check if user logged in equals user that created post to provide delete and edit buttons -->	
					<% if current_user %> 
						<% if current_user.username == @post.author %>
							<% if current_user && !current_user.voted_for?(@post) %> 
								<p class="thumbs">
									<span class="up"><%= link_to image_tag("thumbs_up.png"), vote_post_path(@post, type: "up"), :method => :post, :remote => true %></span> 
									<span class="down"><%= link_to image_tag("thumbs_down.png"), vote_post_path(@post, type: "down"), :method => :post, :remote => true %></span>	
									<br/>
									<span id="rep">Reputation = <%= @post.reputation_for(:votes).to_i %>
									</span>
								</p>
							<% end %>
							<p class="sbutton" id="edbuttons"><%= link_to 'Edit', edit_post_path(@post) %></p>
							<p class="sbutton"id="edbuttons"><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></p>	
						<% else %>			
<!-- Check if user logged in to provide thumbs up and down -->		
							<% if current_user && !current_user.voted_for?(@post) %>
								<p class="thumbs"> 
									<span class="up"><%= link_to image_tag("thumbs_up.png"), vote_post_path(@post, type: "up"), :method => :post, :remote => true %></span> 
									<span class="down"><%= link_to image_tag("thumbs_down.png"), vote_post_path(@post, type: "down"), :method => :post, :remote => true %></span>	
							   <br/>
							   <span id="rep">Reputation = <%= @post.reputation_for(:votes).to_i %></span>
								</p>
							<% end %>
						<% end %>
					<% else %>
						<br/>
						<span id="rep" class="reputation">Reputation = <%= @post.reputation_for(:votes).to_i %></span>
					<% end %>
				</div>
		</div>
		<div id="comments_thread" style="clear: left;">
				<%= render partial: 'comment', collection: @post.comments.find_with_reputation(:votes, :all, order: "votes desc") %>
		</div>